
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

div#gorro{
    display: flex;
    gap: 0.7rem;
}

nav p{
    font-family: "Poppins", sans-serif, Arial;
    font-weight: 600;
    font-size: 1.2rem;
    padding-top: 0.3rem;
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: #F7C7B9;
    gap: 32rem;
    padding: 0.6rem;
    
}

ul{
    font-family: "Poppins", sans-serif, Arial;
    font-weight: 500;
    font-size: 1rem;
    list-style: none;
    display: flex;
    gap: 3rem;
    padding-top: 0.5rem;
}

section#page1{
    padding-top: 4rem;
    display: flex;
    justify-content: space-around;
    background-color: #F7C7B9;
    
}

section#page1 h2{   
    font-family: "Poppins", sans-serif, Arial;
    font-weight: 600;
    font-size: 2.6rem;
    
}

section#page1 ul{
    font-family: "Poppins", sans-serif, Arial;
    font-weight: 500;
    font-size: 0.9rem;
    color: #404040;
}

div#bloco1{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

button#img-button{
    background-color: #DA2535;
    display: flex;
    gap: 1rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.7rem 1.5rem;

    font-size: 0.9rem;
    color: #F9F9F9;
    font-family: "Poppins", sans-serif, Arial;
    font-weight: 600;
    cursor: pointer;
}

button#img-button p{
    padding-top: 0.1rem;
}

div#button{
    padding-top: 1.7rem;

}